bin
obj
packages
node_modules
.config
*.o
*.pyc
*.http

# key files
*.pem
*.crt
*.key
*.env

.vscode

.coverage

# emacs
.dir-locals.el

# emacs temp file suffixes
*~
.#*
\#*#

# eclipse setting
.settings

# MacOS directory files
.DS_Store

# cache dir
.cache/

__pycache__

htmlcov
.coverage

venv 
.venv

/examples
.cursor/
.pytest_cache/
gateway.db