bin
obj
packages
node_modules
.config
*.o
*.pyc
*.http

# key files
*.pem
*.crt
*.key

.vscode

.coverage

# emacs
.dir-locals.el

# emacs temp file suffixes
*~
.#*
\#*#

# eclipse setting
.settings

# MacOS directory files
.DS_Store

# cache dir
.cache/

__pycache__


htmlcov
.coverage

bootstrap.txt
